In [49]:
from pyspark.sql import Row

def funcionRdd(line):
    f = line.split(",")
    return f
def funcionDF(x):
    return ( Row(name=x[0], medallas=x[1],edad=int(x[2]),\
    a√±o=int(x[3]) ) )

deportistasConIndices=sc.textFile('ficheroEjercicio22.csv').map(funcionRdd)\
.map(funcionDF).collect()

deportistasDataFrame=sqlContext.createDataFrame(deportistasConIndices)
sqlContext.registerDataFrameAsTable(deportistasDataFrame,"deportistas")
deportistasDataFrame.registerTempTable("deportistas")

busquedaMedallas=sqlContext.sql("Select name,count(medallas) \
as totalMedallas,edad \
from deportistas where edad=22 group By edad,name ")
busquedaMedallas.show()

+--------------+-------------+----+
|          name|totalMedallas|edad|
+--------------+-------------+----+
|    Usain Bolt|            4|  22|
|Michael Phepls|            4|  22|
+--------------+-------------+----+